BASE_URL=""
BACKEND_URL=""

FRWA_ACCOUNT_EMAIL=""
FRWA_ACCOUNT_PASSWORD=""
FRWA_ACCOUNT_2FA_SECRET=""
FRWA_ACCOUNT_ISSUER_EMAIL=""
FRWA_ACCOUNT_SUPER_ADMIN_EMAIL=""
FRWA_ACCOUNT_ADMIN_EMAIL=""
FRWA_ACCOUNT_OFFICER_EMAIL=""

MAILSLURP_MOCKUP_MAIL=""
MAILSLURP_API_KEY=""
MAILSLURP_MAIL_ID=""